.menu-container {
    max-width: 140px;
    width: 100%;
    padding: 0 0 0 10px;
}

.menu-lists {
    list-style: none;
    padding: 0;
}

.menu-item {
    margin-bottom: 15px;
}

.subscriptions {
    margin-bottom: 40px;
}

.menu-item-links {
    display: flex;
    align-items: center;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-right: 10px;
}

.menu-item-desc {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

.menu-item-links {
    text-decoration: none;
}