.channel__videos-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
  }

  .channel-bottomside__list {
    overflow: auto;
  }

.card {
  max-width: 200px;
  width: 100%;
}

.card {
  padding: 10px;
}