.middle__left {
    display: flex;
    max-width: 900px;
    height: 210px;
    &-video {
      width: 410px;
      height: 210px;
      border-radius: 14px;
      margin-right: 20px;
    }
    &-info {
      max-width: 500px;
    }
  }
  
  .middle__video {
    &-link {
      text-decoration: none;
      color: #19202C;
    }

    &-title {
      font-weight: 700;
      font-size: 22px;
      line-height: 28px;
      margin: 0 0 10px;
      max-width: 320px;
      text-transform: capitalize;
      
    }
    &-comment {
      max-width: 320px;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 20px;
    }
    &-info {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #c2c2c2;
    }
  }
  .channel {
    &__list {
      display: flex;
      align-items: center;
      margin-bottom: 54px;
      padding: 0;
    }
    &__item {
      text-decoration: none;
      color: #19202C;
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      &:not(:last-child) {
        margin-right: 35px;
      }
      &.selected {
        color: #ff0000;
        font-weight: 700;
        padding-bottom: 3px;
        border-bottom: 2px solid #ff0000;
      }
    }
  }