.formTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    font-weight: 900;
    line-height: 49px;
}

.modalTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}